<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2>Edit your profile</h2>
      <%= simple_form_for(resource, as: resource_name, url: user_registration_path(), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :diet, label: "Dietary Preferences" %>
          <%= f.input :allergy, as: :text %>
          <%= f.input :avatar %>
          <%= f.input :avatar_cache, as: :hidden %></div>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary text-light btn-block mb-3" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
