<h2>My Events</h2>
<% @events.each do |event| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card my-3">
      <div class="card-img-top" style="background-image: url('<%= cl_image_path event.image %>')"></div>
      <div class="card-body">
        <h5>
          <%= link_to event.title, event_path(event.id)%>
        </h5>
        <p><%= event.location %></p>
        <p><%= event.user.first_name %></p>
      </div>
    </div>
  </div>
<% end %>
<h2>My BOOKINGS</h2>
<% @bookings.each do |booking| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card my-3">
      <div class="card-img-top" style="background-image: url('<%= cl_image_path booking.event.image %>')"></div>
      <div class="card-body">
        <h5>
          <%= link_to booking.event.title, event_path(booking.event.id)%>
        </h5>
        <p><%= booking.event.location %></p>
        <p><%= booking.event.user.first_name %></p>
      </div>
    </div>
  </div>
<% end %>