<div class="container my-5">
  <!-- Basic info about the event -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h4 class="text-uppercase text-primary"><%=@event.cuisine%></h4>
      <h2 class="mb-3"><%= @event.title %></h2>
      <div class="mb-4">
        <!-- a user can edit the event that he created -->
        <% if policy(@event).edit? %>
          <%= link_to edit_event_path(@event.id) do %>
            <i class="far fa-edit"></i>
          <% end %>
        <% end %>
        <!-- a user can only delete the event created by himself -->
        <% if policy(@event).destroy?%>
          <%= link_to event_path(@event.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <div class="mb-4">
        <ul class="list-unstyled">
          <li>
            <%= image_tag "map-marker.svg", class: "mb-2 mr-1" %>
            <%= @event.location %>
          </li>
          <li>
            <%= image_tag "time.svg", class: "mb-2 mr-1" %>
            <%= @event.date.strftime("%b %e, %l:%M %p") %>
          </li>
          <li>
            <%= image_tag "user.svg", class: "mb-2 mr-1" %>
            <%= @event.capacity %>
          </li>
          <li>
            <%= image_tag "dollar.svg", class: "mb-2 mr-1" %>
            <%= @event.price%>
          </li>
        </ul>
      </div>
      <!-- a user can not book his own event -->
      <% if current_user != @event.user %>
        <%= link_to "Book", new_event_booking_path(@event.id), class: "btn btn-primary text-light" %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-8">
      <% if @event.image.nil? %>
        <%= image_tag ("https://images.unsplash.com/photo-1557872943-16a5ac26437e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1432&q=80")%>
      <% else %>
        <div class="card-img-large rounded" style="background-image: url('<%= cl_image_path @event.image %>')"></div>
      <% end %>
    </div>
  </div>
  <hr class="my-5">
  <!-- Event description -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h4>About this event</h4>
    </div>
    <div class="col-sm-12 col-md-8">
      <p>
        <%= @event.description%>
      </p>
    </div>
  </div>
  <hr class="my-5">

  <!-- Participants -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h4>Participants</h4>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="d-flex">
        <% @bookings.each do |booking| %>
          <div class="mr-4 text-center">
            <% if booking.user.avatar? %>
              <%= cl_image_tag booking.user.avatar, class: "avatar-medium my-2" %>
            <% else%>
              <%= image_tag 'seb.png', class: "avatar-medium my-2" %>
            <% end %>
            <p><%= booking.user.first_name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Tagging of similar events -->
  <h3>Similar Events To This</h3>
  <ul>
    <% @similar_events.each do |event| %>
      <div class="card my-3">
        <div class="card-img-top" style="background-image: url('<%= cl_image_path event.image %>')"></div>
        <div class="card-body">
          <h5>
            <%= link_to event.title, event_path(tag: tag)%>
          </h5>
          <p class="annotation"><%= event.location %></p>
        </div>
      </div>
    <% end %>
  </ul>
  <hr class="my-5">

  <!-- Location -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h4>Location</h4>
    </div>
    <div class="col-sm-12 col-md-8">
      <div id="map" style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>


  <!-- Reviews -->
  <% if @event.reviews.length != 0 %>
    <hr class="my-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h4>Reviews</h4>
        <!-- Calculate average -->
        <div class="avg-rating">
          <% sum = 0 %>
          <% @event.reviews.each do |review| %>
            <% sum += review.rating %>
          <% end %>
          <% avg = (sum.to_f / @event.reviews.length).round(2) %>
          <span class="mr-1"><strong><%= avg %></strong></span>
          <!-- Display stars -->
          <% avg.round.times do %>
            <%= image_tag "star-yellow.svg", class: "mb-1", width: "22px" %>
          <% end %>
          <% (5 - avg.round).times do %>
            <%= image_tag "star-gray.svg", class: "mb-1", width: "22px" %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <% @event.reviews.each do |review| %>
          <div class="d-flex align-items-center">
            <!-- User avatar -->
            <% if review.user.avatar? %>
              <%= cl_image_tag review.user.avatar, class: "avatar mb-2 mr-3" %>
            <% else%>
              <%= image_tag 'seb.png', class: "avatar mb-2 mr-3" %>
            <% end %>
            <!-- Display user name & stars -->
            <div>
              <p class="mb-0"><strong><%= review.user.first_name %></strong></p>
              <% review.rating.times do %>
                <%= image_tag "star-yellow.svg", class: "mb-3", width: "18px" %>
              <% end %>
              <% (5 - review.rating).times do %>
                <%= image_tag "star-gray.svg", class: "mb-3", width: "18px" %>
              <% end %>
            </div>
          </div>
          <p><%= review.comment %></p>
          <hr class="my-5">
        <% end %>
      </div>
    </div>
  <% end %>

</div>
